[tools]
ruby = "3"
uv = "0.9"

[tasks.lint]
run = "uvx pre-commit run --all-files"
description = "Run pre-commit hooks"

[tasks.setup]
run = ["mise install", "uvx pre-commit install"]
description = "Setup the project"

[tasks.docs]
run = ["cd vitepress", "pnpm install", "pnpm dev"]
description = "Start the development server for the documentation"