[tools]
uv = "0.9"

[tasks.lint]
run = "uvx pre-commit run --all-files"
description = "Run pre-commit hooks"

[tasks.setup]
run = ["mise install", "uvx pre-commit install"]
description = "Setup the project"

[tasks.docs]
dir = "vitepress"
run = ["pnpm install", "pnpm dev"]
description = "Start the development server for the documentation"

[tasks."ansible:setup-server"]
dir = "ansible"
run = ["ansible-playbook -i inventory.ini setup-server.yaml --ask-become-pass"]
description = "Setup the server"

[tasks."ansible:setup-backups"]
dir = "ansible"
run = ["ansible-playbook -i inventory.ini setup-backups.yaml --ask-become-pass"]
description = "Setup the backups"

[tasks."ansible:setup-permissions"]
run = ["ansible-playbook -i inventory.ini setup-permissions.yaml --ask-become-pass"]
description = "Setup the permissions"

[tasks."ansible:restart-containers"]
dir = "ansible"
run = ["ansible-playbook -i inventory.ini restart-containers.yaml --ask-become-pass"]
description = "Restart docker containers"
